.App {
    height: 100vh;
}

.LandingPage {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.landing-main {
    margin: 0 auto;
    background: #F1FFFA;
    height: 100vh;
}

.landing-main h1 {
    font-size: 60px;
    margin: 0;
}

.landing-main h4 {
    font-size: 30px;
}

.landing-main button {
    width: 30%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: 800;
    font-size: 15px;
}

.landing-main button:focus {
    outline: none;
}

.landing-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 40px;
    height: 100vh;
}

.landing-desc h1 {
    font-size: 4.7em;
    padding-top: 30px
}

.landing-desc h4 {
    font-size: 1.8em;
}

.landing-desc button {
    margin: 0;
    width: 150px;
    border-radius: 5px;
    border: 3px solid white;
    background: transparent;
    transition: .3s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.landing-desc button:hover, .landing-desc button:active {
    background: white;
}

.landing-block {
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E07235;
    position: relative;
}

.block-two {
    justify-content: center;
    background: black;
    background-size: 100%;
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 0;
    z-index: -100;
    height: 100vh;
}

.block-two-text {
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.block-two-text a, .demo {
    color: whitesmoke;
    transition: .6s;
}

.block-two-text a:hover, .demo:hover {
    font-size: 23px;
}

.landing-block .entry {
    width: 90%;
    z-index: -100;
}

.landing-block img {
    width: 100%;
    position: absolute;
    top: 0;
    height: 150px;
}

.landing-block-text {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
}

.landing-block-text h2 {
    font-size: 34px;
    padding-bottom: 30px;
}

.line {
    border-left: 1px solid whitesmoke;
    height: 150px;
}

@media(max-width:1250px){
    .LandingPage img {
        text-align: center;
        float: none;
        transform: rotate(90deg)
    }
    .landing-desc {
        text-align: center;
    }
}

@media(max-width:768px){
    .landing-main h1 {
        font-size: 42px;
        margin-top: 200px;
    }
}