.App {
    height: 100vh;
}

.LandingPage {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
}

.landing-main {
    margin: 0 auto;
    background: #F1FFFA;
    height: 100vh;
}

.landing-main h1 {
    font-size: 60px;
    margin: 0;
}

.landing-main h4 {
    font-size: 30px;
}

.landing-main button {
    width: 30%;
    margin: 20px auto;
    border-radius: 20px;
    padding: 10px 0;
    font-weight: 800;
    font-size: 15px;
}

.landing-main button:focus {
    outline: none;
}

.landing-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 0 40px;
    height: 100vh;
}

.landing-desc h1 {
    font-size: 4.7em;
    padding-top: 30px
}

.landing-desc h4 {
    font-size: 1.8em;
}

.landing-block {
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.landing-block .entry {
    width: 100%;
    height: auto;
}

.landing-block-text {
    display: flex;
    flex-direction: column;
}

.landing-block-text h2 {
    margin-bottom: 20px;
}

@media(max-width:1250px){
    .LandingPage img {
        text-align: center;
        float: none;
        transform: rotate(90deg)
    }
    .landing-desc {
        text-align: center;
    }
}

@media(max-width:768px){
    .landing-main h1 {
        font-size: 42px;
        margin-top: 200px;
    }
}