.demo-page .entry {
  margin-top: 75px;
  color: whitesmoke;
  height: auto;
  width: 90%;
}

.demo-camera {
  justify-content: center;
  border-radius: 2px;
}

.demo-entry {
  outline: none;
}

.demo-page .entry-face {
  position: relative;
}


.demo-page .delete-img, .demo-page .analyze-img {
  font-size: 20px;
  margin: 10px;
  position: relative;
}

iframe {
  width: 100%;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  opacity: 0;
  width: 250px;
  background-color: #FF8803;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
  transition: .4s ease-in;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #FF8803 transparent transparent transparent;
}

.tooltip:hover .tooltiptext, .tooltip:active .tooltiptext  {
  opacity: 1;
}

iframe .tooltiptext-left {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;
} 

iframe .tooltiptext-left::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

iframe .tooltiptext-left {
  visibility: active;
}

.demo-photo {
  width: 90%;
}