.camera {
    position: relative;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.current-img {
    width: 768px;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.current-img img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.current-img .analyze-img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.current-img .delete-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.emotion-graph {
    border-radius: 50px;
}

.hidden {
    visibility: hidden;
    height: 576px;
    padding: 5px;
}

.photo-carousel {
    width: 100%;
    overflow: scroll;
}

.recommendation-list {
    display: flex;
    flex-flow: wrap;
    margin: 0 auto;
    justify-content: center;
}

a {
    text-decoration: none;
    color: black;
}

@media(max-width:768px){
    .current-img {
        width: 100%;
    }
    .emotion-graph img {
        width: 100%;
    }
}

.warning {
    z-index: 100;
}