@import url('https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap');

.App {
  text-align: center;
  background: #F1FFFA;
  height: calc(100vh - 77px);
  font-family: 'Rubik', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.non-user {
  background: linear-gradient(
    rgba(0, 0, 0, 0.05), 
    rgba(0, 0, 0, 0.15)
  ), url("/images/fallboy.jpg") no-repeat -40px -280px fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 150%;
  color: rgb(40, 20, 58);
}

.non-user .navigation {
  box-shadow: none;
}

.non-user .App, .non-user .landing-main {
  background: transparent;
}

.non-user .landing-main {
  width: 69%;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-size: 20px;
  width: 100%;
  background-color: #1EFFBC;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.non-nav {
  background: transparent;
  color: transparent;
  position: fixed;
  transition: .3s ease-in-out;
}

.non-nav:hover {
  background: rgb(27, 27, 27, .89);
}

.navigation a {
  padding: 15px;
  background: white;
  border-radius: 25px;
  padding: 5px;
  font-family: 'Rubik', sans-serif;
}

.nav-start {
  padding-left: 15px;
  font-size: 15px;
  margin: 0;
  transition: .3s;
}

.nav-start h1 {
  margin: 5px;
  font-weight: 400;
}

.nav-start:hover,
.nav-start:active {
  background: #D0FFFD
}

.nav-mid a {
  margin: 0 2px;
  transition: .3s;
}

.nav-mid a:hover,
.nav-mid a:active {
  background: #D0FFFD
}

.nav-end a {
  margin: 0 4px;
  padding: 6px;
  transition: .3s;
}

.nav-end a:hover,
.nav-end a:active {
  background: #D0FFFD
}

@media(max-width:768px){
  .App {
    height: calc(100vh - 48px);
  }
  .navigation {
    display: flex;
    font-size: 20px;
    margin: 0;
    padding: 0;
  }
  .navigation a {
    font-size: 10px;
    margin: 5px 2.5px;
  }
}