.App {
  text-align: center;
  background: #F1FFFA;
  height: calc(100vh - 77px);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  font-size: 20px;
  width: 100%;
  background-color: #1EFFBC;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.navigation a {
  padding: 15px;
  background: white;
  border-radius: 25px;
  padding: 5px;
}

.nav-start {
  padding-left: 15px;
  font-size: 15px;
  margin: 0;
}

.nav-start h1 {
  margin: 5px;
  font-weight: 400;
}

.nav-mid a {
  margin: 0 2px;
}

.nav-end a {
  margin: 0 2px;
}

@media(max-width:768px){
  .navigation {
    display: block;
    font-size: 20px;
  }
  .nav-start {
    display: none;
  }
}