.camera {
    position: relative;
    justify-content: center;
}

.current-img {
    width: 768px;
    position: relative;
}

.current-img img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

.current-img .analyze-img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 100;
}

.current-img .delete-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}